body
{
    position: center;
}
canvas
{
    background-color: bisque;
    box-shadow: rgb(0, 255, 234);
    border-radius: 40px;
    border: 10px;
    border-color: black;
    border-style: double;
    position: unset;
}
.raja
{
    background-color: rgb(26, 255, 0);
    color: black;
    border: 8px;
    border-color: black;
    border-style: double;
    font-size: 30px;
}